/Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@0.1.21-preview/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
LibraryPlayerDataCacheOSXUniversalData filter=lfs diff=lfs merge=lfs -text
list filter=lfs diff=lfs merge=lfs -text
/Library/PlayerDataCache/OSXUniversal/Data filter=lfs diff=lfs merge=lfs -text
/Library/PlayerDataCache/OSXUniversal/Data/resources.resource filter=lfs diff=lfs merge=lfs -text
/Library/PlayerDataCache/Win64/Data/resources.resource filter=lfs diff=lfs merge=lfs -text
